/scripts/deployments/deployResults/
/scripts/deployments/deployNFTResults/
node_modules

build

.env
.env.example
.idea
cache

.npmrc

/scripts/scratch
.DS_Store
data/
coverage/
coverage.json
artifacts/

mockMetadata/1