{
  "singleQuote": true,
  "printWidth": 140,
  "bracketSpacing": true,
  "formatOnSave": true,
  "semi": true,
  "explicitTypes": "always",
  "overrides": [
    {
      "files": "hardhat.config.js",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
